body {
    background-color: #dddddd !important;
    font-family: 'Work Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
   }
   
h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
   }

li {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 40px;
    padding-bottom: 1rem
}

.logo {
    width: 9rem;
    height: auto;
    padding-top: 1rem;
}

.logo-text {
    color: #707070;
    line-height: 70px;
    font-size: 45px;
}

.line {
    width: 16rem;
    border-bottom: 1px solid #707070;
}

.light-grey {
    color: #707070;
}

.header {
    margin: auto;
    width: 50%;
    padding: 10px; 
}

/* Used in banner video, to make it responsive */

.banner_container {
    position: relative;
}

.banner_container video {
    position:relative;
    width: 100vw;
    height: 100vh;
    height: 25rem;
    text-align: center;
    overflow: hidden;
    object-fit: cover;
    object-position: 20% 10%;
}

.banner_container h1 {
    color: white;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); /* iOS */
    transform: translate(-50%, -50%);
    /* Text Styling */
    font-size: 4vw; /* Adding responsiveness */
    color: white;
}

.banner_container span {
    color: #c4742f;
}

/* Features Styling */

.features_container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.features_container i {
    padding: 1.5rem;
}

.features_container span {
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
}

/* Companies */
.companies_container {
    padding-bottom: 2rem;
}
.companies_container img {
    width: 10rem;
    height: auto;
    filter: opacity(70%);
}

.companies_header h3 {
    font-family: 'Work Sans', sans-serif;
    padding-top: 2rem;
    color: #3B2821;
}

/* Footer */
#wrap {
    min-height: 100%;
    width: 100%;
    background-color: #3B2821;
    margin-top: 3rem;
}
  
#main {
    overflow: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
  
.footer {
    position: fixed;
    margin-top: -5rem; /* negative value of footer height */
    height: 5rem;
    clear:both;
    padding-top: 20px;
} 

/* Content */
.content_container {
    padding: 2rem;    
}
