html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #dddddd !important;
    font-family: 'Work Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7rem;
   }
   
h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
   }

li {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 40px;
}

.nav li {
    padding-bottom: 1rem;
}

.logo {
    width: 9rem;
    height: auto;
    padding-top: 1rem;
}

.logo-text {
    color: #707070;
    line-height: 70px;
    font-size: 45px;
}

.line {
    width: 16rem;
    border-bottom: 1px solid #707070;
}

.light-grey {
    color: #707070;
}

.header {
    margin: auto;
    width: 50%;
    padding: 10px; 
}

/* Used in banner video, to make it responsive */

.banner_container {
    position: relative;
}

.banner_container video {
    position:relative;
    width: 100%;
    height: 100vh;
    height: 25rem;
    text-align: center;
    overflow: hidden;
    object-fit: cover;
    object-position: 20% 10%;
}

.banner_container h1 {
    color: white;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); /* iOS */
    transform: translate(-50%, -50%);
    /* Text Styling */
    font-size: 4vw; /* Adding responsiveness */
    color: white;
}

.banner_container span {
    color: #c4742f;
}

/* Features Styling */

.features_container {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.features_container i {
    padding: 1.5rem;
}

.features_container span {
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
}

/* Companies */
.companies_container {
    padding-bottom: 1rem;
}
.companies_container img {
    width: 10rem;
    height: auto;
    filter: opacity(70%);
}

.companies_header h3 {
    font-family: 'Work Sans', sans-serif;
    padding-top: 2rem;
    color: #3B2821;
}

/* Testimonies */
.testimonies_container {
    padding-bottom: 15px;
    padding-top: 2rem;
}
.testimonies_container img {
    border: 2px solid #707070;
    border-radius: 1px;
    width: 15rem;
    height: 15rem;
    border-radius: 10%;
}

/* Vacancies */
.vacancies_container {
    max-width: 100%;
    padding-bottom: 15px;
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.vacancies_container img {
    border-radius: 1px;
    width: 12rem;
    height: 12rem;
    border-radius: 10%;
    margin-top: 1rem;
}

.vacancies_container h3 {
    position: relative;
}

.vacancies_container button {
    position: sticky;
    float: right;
    white-space: normal;
    word-wrap: break-word;
}

/* Courses */
.courses_container {
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.courses_container img {
    width: 17rem;
    height: 17rem;
    float: left;
    padding-right: 2rem;
    padding-bottom: 2rem;
    border-radius: 50%;
}


/* Content */
.content_container {
    padding: 2rem;    
}

/* Pages Header */
/* Used in banner video, to make it responsive */

.header_container {
    position: relative;
    background-size:cover;
}

.header_container img {
    position:relative;
    width: 100%;
    height: 10rem;
    text-align: center;
    overflow: hidden;
    object-fit: cover;
    object-position: 20% 10%;
    -webkit-filter: blur(5px) contrast(125%) brightness(75%);
    filter: blur(5px) contrast(125%) brightness(75%);
    transform:scale(1);
}

.header_container h1 {
    color: white;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); /* iOS */
    transform: translate(-50%, -50%);
    /* Text Styling */
    font-size: 4vw; /* Adding responsiveness */
    color: whitesmoke;
}

/* Footer */
.footer {
    position:static;
    width: 100%;
    height: 7rem;
    overflow: hidden;
    background-color: black;
}
.footer h1 {
    color: #707070;
    float: right;
    padding-top: 1rem;
    padding-right: 8rem;
}
.footer p {
    float: right;
    font-family: 'Work Sans', sans-serif;
}
.footer img {
    width: 7rem;
    float: left;
}

